n8n/workflows/studyflow-assistant-ai-bot.json
{
  "updatedAt": "2026-06-03T13:25:19.545Z",
  "createdAt": "2026-05-25T18:38:47.039Z",
  "id": "bg8uGb8VbgO9Wrdu",
  "name": "StudyFlow Assistant AI Bot",
  "description": "Corrigido board_id do Trello: substituído shortLink Y92y3fVT pelo ID real 6a1848ea51e9dd133ebab35f.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "4ae948cc-6c1f-455b-9d27-a82a74a442b9",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        304
      ],
      "webhookId": "e4474443-bd36-4484-bdc1-5fe7dc157380"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bacc3f50-8d0c-4060-aba9-1a292d70d6e9",
              "leftValue": "={{ $json.message.from.id }}",
              "rightValue": 7756751981,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d6188f65-652b-48ec-8f55-630e2b30429f",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Você é a Jessy AI — tutora de QA e gestora de estudos da Jessica Kaczmarkiewicz (StudyFlow).\n\nPERFIL DA JESSICA:\nValença/RJ. Transição para QA. Background: CS, ops de TI, suporte técnico. Self-hosted: Docker, PostgreSQL, n8n, Cloudflare, Portainer, Trello. Estuda seg–sex 9h–11h30 e 13h–16h. Pomodoro: 25min/5min, 10 por dia. Linguagem: Python. Cursos: Alura Premium.\n\nMÓDULO 1 — 4 semanas ~100h:\nS1 (Fundamentos QA): Dia1=QA/QC/Testing/tipos de teste | Dia2=SDLC/STLC/Pirâmide/Troféu | Dia3=Bug lifecycle/bug report/casos de teste | Dia4=Critérios aceite/BDD/heurísticas SFDPOT | Dia5=Revisão+Alura\nS2 (Git/Python): Dia6=Git/GitHub/branches/PR | Dia7=Terminal avançado/VSCode/.env/.gitignore | Dia8=Python variáveis/tipos/listas/dicts/condicionais | Dia9=Python loops/funções/módulos/pip | Dia10=Mini projeto+Alura\nS3 (Testes manuais): Dia11=Casos de teste/técnicas | Dia12=Bug report profissional/severidade/ferramentas | Dia13=Exploratory testing/charters/heurísticas | Dia14=Projeto integrador opencart | Dia15=Revisão+Alura\nS4 (HTTP/APIs): Dia16=HTTP/métodos/status codes | Dia17=REST/JSON/headers/autenticação | Dia18=Postman install/collections/environments | Dia19=Testes de API/cenários negativos | Dia20=Revisão final+próximo módulo\n\nSANDBOXES: saucedemo.com | parabank.parasoft.com | the-internet.herokuapp.com | testpages.eviltester.com | demo.opencart.com | jsonplaceholder.typicode.com | reqres.in\n\nNÃO ANTECIPAR: Módulo2=Pytest | Módulo3=Selenium/Playwright | Módulo4=CI/CD | Módulo5=Agile/Scrum | Módulo6=Entrevistas/portfólio\n\nTRELLO:\nBoard ID: 6a1848ea51e9dd133ebab35f\nURL: https://trello.com/b/Y92y3fVT/studyflow-assistant-ai-bot-plano-de-estudos\nListas esperadas: Backlog | Esta semana | Em andamento | Revisão | Concluído\nCada card = 1 dia de estudo.\nPara criar lista: use a tool \"Trello - Criar Lista\" com board_id=6a1848ea51e9dd133ebab35f.\nPara criar card: use a tool \"Trello - Criar Card\" com o list_id correto.\nPara mover card: use a tool \"Trello - Mover Card\" com card_id e target_list_id.\nAo receber \"conclui o Dia X\", mova o card para Concluído.\nAo iniciar tópico, mova para Em andamento.\n\nCOMPORTAMENTO:\n- 1 pergunta por mensagem\n- Respostas curtas e diretas, sem asteriscos ou markdown pesado\n- Cobra progresso gentilmente, celebra avanços\n- Explica com exemplos práticos\n- Corrige erros com gentileza, nunca finge que está certo\n- Não antecipa módulos futuros sem pedido explícito\n- Tom: direta, parceira, humor rápido quando couber\n- Quando executar ação no Trello, confirme objetivamente o que foi feito\n\nFORMATO: resposta direta → ideia complementar → 1 pergunta"
        }
      },
      "id": "9b405f14-0959-42dc-8481-29f769213b5a",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        640,
        0
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "622a122c-3ee9-4271-85a1-7682c05dc73a",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        448,
        224
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "7756751981",
        "tableName": "messages",
        "contextWindowLength": 15
      },
      "id": "ac5fc41f-6aeb-47be-9551-49292dccc588",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.4,
      "position": [
        576,
        224
      ]
    },
    {
      "parameters": {
        "resource": "list",
        "idBoard": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('board_id', 'ID do board do Trello onde a lista será criada. O ID do board de estudos é: 6a1848ea51e9dd133ebab35f') }}",
        "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('list_name', 'Nome da lista a ser criada no Trello') }}",
        "additionalFields": {}
      },
      "id": "22a8b24b-b897-47c3-ae10-228c1fa1c759",
      "name": "Trello - Criar Lista",
      "type": "n8n-nodes-base.trelloTool",
      "typeVersion": 1,
      "position": [
        704,
        224
      ]
    },
    {
      "parameters": {
        "listId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('list_id', 'ID da lista onde o card será criado') }}",
        "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('card_name', 'Título do card') }}",
        "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('card_description', 'Descrição do card com os tópicos do dia de estudo') }}",
        "additionalFields": {}
      },
      "id": "0354a56d-73f1-46f2-affd-0b9db87d9b80",
      "name": "Trello - Criar Card",
      "type": "n8n-nodes-base.trelloTool",
      "typeVersion": 1,
      "position": [
        832,
        224
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "id": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('card_id', 'ID do card a ser movido') }}"
        },
        "updateFields": {
          "idList": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('target_list_id', 'ID da lista de destino para mover o card') }}"
        }
      },
      "id": "111bb9a7-ebc2-4030-b22f-78c4e0b3289c",
      "name": "Trello - Mover Card",
      "type": "n8n-nodes-base.trelloTool",
      "typeVersion": 1,
      "position": [
        960,
        224
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "d55ec399-3f98-4bcc-8114-bfd2cbdc2455",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1168,
        112
      ],
      "webhookId": "01fc9994-adba-43b2-8743-6d6b5ba0fbe4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "Você é a Jessy AI — assistente do StudyFlow, plataforma criada por Jessica Kaczmarkiewicz.\n\nSOBRE O PROJETO:\nStudyFlow é um assistente pessoal self-hosted que combina n8n, Telegram, IA, Trello e PostgreSQL para gerenciar estudos e automação. É também portfólio técnico interativo da Jessica.\n\nSOBRE A JESSICA:\nTransição estratégica para QA. Background: Customer Success, suporte técnico, automação. Stack: Docker, n8n, Cloudflare, PostgreSQL, Portainer. Aprende construindo. LinkedIn: linkedin.com/in/jessica-kaczmarkiewicz\n\nCOMPORTAMENTO:\n- Simpática, direta, descontraída mas profissional\n- 1 pergunta por mensagem\n- Respostas curtas, parágrafos de no máximo 2 linhas\n- Sem asteriscos ou markdown pesado\n- Não inventa informações além deste prompt\n- Contato/vagas: direciona para o LinkedIn\n- NAO oferece tutoria ou suporte educacional para outros usuários\n- Este é um sistema pessoal da Jessica, não um serviço público\n- Se fugir do escopo, redireciona com leveza\n\nFORMATO: resposta direta → complemento → 1 pergunta (quando necessário)"
        }
      },
      "id": "80becf38-43df-44a7-a298-9ae82c4c090d",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        640,
        512
      ]
    },
    {
      "parameters": {
        "model": "groq/compound",
        "options": {}
      },
      "id": "1395fb3b-cfb6-427b-aecb-28f20d80f756",
      "name": "Groq Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        640,
        736
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "tableName": "messages_public",
        "contextWindowLength": 10
      },
      "id": "e87540be-76f6-4acb-a5b0-b5982b6b556e",
      "name": "Postgres Chat Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.4,
      "position": [
        768,
        736
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "cde17660-67ad-433e-9089-d82b50a54327",
      "name": "Send a text message1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1168,
        512
      ],
      "webhookId": "64ac8b70-a2af-4dfa-80b8-741cbb1eeae0"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Trello - Criar Lista": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Trello - Criar Card": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Trello - Mover Card": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "pinData": {},
  "versionId": "f1672dae-879d-46f0-96fb-200fda99c1aa",
  "activeVersionId": "f1672dae-879d-46f0-96fb-200fda99c1aa",
  "versionCounter": 555,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-25T18:38:47.039Z",
      "createdAt": "2026-05-25T18:38:47.039Z",
      "role": "workflow:owner",
      "workflowId": "bg8uGb8VbgO9Wrdu",
      "projectId": "rtDiJ4SgHKEoG9oF",
      "project": {
        "updatedAt": "2026-05-26T12:43:08.330Z",
        "createdAt": "2026-05-25T15:11:06.216Z",
        "id": "rtDiJ4SgHKEoG9oF",
        "name": "Jessica Kaczmarkiewicz <jessicakacz@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4e0433a0-4243-4ab2-a516-715df16458a0"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-03T13:25:24.161Z",
    "createdAt": "2026-06-03T13:25:19.546Z",
    "versionId": "f1672dae-879d-46f0-96fb-200fda99c1aa",
    "workflowId": "bg8uGb8VbgO9Wrdu",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "id": "4ae948cc-6c1f-455b-9d27-a82a74a442b9",
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.3,
        "position": [
          -128,
          304
        ],
        "webhookId": "e4474443-bd36-4484-bdc1-5fe7dc157380",
        "credentials": {
          "telegramApi": {
            "id": "AjoEOgPgF18DOng0",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "bacc3f50-8d0c-4060-aba9-1a292d70d6e9",
                "leftValue": "={{ $json.message.from.id }}",
                "rightValue": 7756751981,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "d6188f65-652b-48ec-8f55-630e2b30429f",
        "name": "If",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          96,
          304
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.message.text }}",
          "options": {
            "systemMessage": "Você é a Jessy AI — tutora de QA e gestora de estudos da Jessica Kaczmarkiewicz (StudyFlow).\n\nPERFIL DA JESSICA:\nValença/RJ. Transição para QA. Background: CS, ops de TI, suporte técnico. Self-hosted: Docker, PostgreSQL, n8n, Cloudflare, Portainer, Trello. Estuda seg–sex 9h–11h30 e 13h–16h. Pomodoro: 25min/5min, 10 por dia. Linguagem: Python. Cursos: Alura Premium.\n\nMÓDULO 1 — 4 semanas ~100h:\nS1 (Fundamentos QA): Dia1=QA/QC/Testing/tipos de teste | Dia2=SDLC/STLC/Pirâmide/Troféu | Dia3=Bug lifecycle/bug report/casos de teste | Dia4=Critérios aceite/BDD/heurísticas SFDPOT | Dia5=Revisão+Alura\nS2 (Git/Python): Dia6=Git/GitHub/branches/PR | Dia7=Terminal avançado/VSCode/.env/.gitignore | Dia8=Python variáveis/tipos/listas/dicts/condicionais | Dia9=Python loops/funções/módulos/pip | Dia10=Mini projeto+Alura\nS3 (Testes manuais): Dia11=Casos de teste/técnicas | Dia12=Bug report profissional/severidade/ferramentas | Dia13=Exploratory testing/charters/heurísticas | Dia14=Projeto integrador opencart | Dia15=Revisão+Alura\nS4 (HTTP/APIs): Dia16=HTTP/métodos/status codes | Dia17=REST/JSON/headers/autenticação | Dia18=Postman install/collections/environments | Dia19=Testes de API/cenários negativos | Dia20=Revisão final+próximo módulo\n\nSANDBOXES: saucedemo.com | parabank.parasoft.com | the-internet.herokuapp.com | testpages.eviltester.com | demo.opencart.com | jsonplaceholder.typicode.com | reqres.in\n\nNÃO ANTECIPAR: Módulo2=Pytest | Módulo3=Selenium/Playwright | Módulo4=CI/CD | Módulo5=Agile/Scrum | Módulo6=Entrevistas/portfólio\n\nTRELLO:\nBoard ID: 6a1848ea51e9dd133ebab35f\nURL: https://trello.com/b/Y92y3fVT/studyflow-assistant-ai-bot-plano-de-estudos\nListas esperadas: Backlog | Esta semana | Em andamento | Revisão | Concluído\nCada card = 1 dia de estudo.\nPara criar lista: use a tool \"Trello - Criar Lista\" com board_id=6a1848ea51e9dd133ebab35f.\nPara criar card: use a tool \"Trello - Criar Card\" com o list_id correto.\nPara mover card: use a tool \"Trello - Mover Card\" com card_id e target_list_id.\nAo receber \"conclui o Dia X\", mova o card para Concluído.\nAo iniciar tópico, mova para Em andamento.\n\nCOMPORTAMENTO:\n- 1 pergunta por mensagem\n- Respostas curtas e diretas, sem asteriscos ou markdown pesado\n- Cobra progresso gentilmente, celebra avanços\n- Explica com exemplos práticos\n- Corrige erros com gentileza, nunca finge que está certo\n- Não antecipa módulos futuros sem pedido explícito\n- Tom: direta, parceira, humor rápido quando couber\n- Quando executar ação no Trello, confirme objetivamente o que foi feito\n\nFORMATO: resposta direta → ideia complementar → 1 pergunta"
          }
        },
        "id": "9b405f14-0959-42dc-8481-29f769213b5a",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          640,
          0
        ]
      },
      {
        "parameters": {
          "model": "llama-3.3-70b-versatile",
          "options": {}
        },
        "id": "622a122c-3ee9-4271-85a1-7682c05dc73a",
        "name": "Groq Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          448,
          224
        ],
        "credentials": {
          "groqApi": {
            "id": "54Cdwo71H2wPUrE4",
            "name": "Groq account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "7756751981",
          "tableName": "messages",
          "contextWindowLength": 15
        },
        "id": "ac5fc41f-6aeb-47be-9551-49292dccc588",
        "name": "Postgres Chat Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.4,
        "position": [
          576,
          224
        ],
        "credentials": {
          "postgres": {
            "id": "ylhUb8ju5VcdA9TV",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "resource": "list",
          "idBoard": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('board_id', 'ID do board do Trello onde a lista será criada. O ID do board de estudos é: 6a1848ea51e9dd133ebab35f') }}",
          "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('list_name', 'Nome da lista a ser criada no Trello') }}",
          "additionalFields": {}
        },
        "id": "22a8b24b-b897-47c3-ae10-228c1fa1c759",
        "name": "Trello - Criar Lista",
        "type": "n8n-nodes-base.trelloTool",
        "typeVersion": 1,
        "position": [
          704,
          224
        ],
        "credentials": {
          "trelloApi": {
            "id": "wpTJpwz2ebHniUUL",
            "name": "Trello account"
          }
        }
      },
      {
        "parameters": {
          "listId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('list_id', 'ID da lista onde o card será criado') }}",
          "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('card_name', 'Título do card') }}",
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('card_description', 'Descrição do card com os tópicos do dia de estudo') }}",
          "additionalFields": {}
        },
        "id": "0354a56d-73f1-46f2-affd-0b9db87d9b80",
        "name": "Trello - Criar Card",
        "type": "n8n-nodes-base.trelloTool",
        "typeVersion": 1,
        "position": [
          832,
          224
        ],
        "credentials": {
          "trelloApi": {
            "id": "wpTJpwz2ebHniUUL",
            "name": "Trello account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "id": {
            "__rl": true,
            "mode": "id",
            "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('card_id', 'ID do card a ser movido') }}"
          },
          "updateFields": {
            "idList": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('target_list_id', 'ID da lista de destino para mover o card') }}"
          }
        },
        "id": "111bb9a7-ebc2-4030-b22f-78c4e0b3289c",
        "name": "Trello - Mover Card",
        "type": "n8n-nodes-base.trelloTool",
        "typeVersion": 1,
        "position": [
          960,
          224
        ],
        "credentials": {
          "trelloApi": {
            "id": "wpTJpwz2ebHniUUL",
            "name": "Trello account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
          "text": "={{ $json.output }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "id": "d55ec399-3f98-4bcc-8114-bfd2cbdc2455",
        "name": "Send a text message",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1168,
          112
        ],
        "webhookId": "01fc9994-adba-43b2-8743-6d6b5ba0fbe4",
        "credentials": {
          "telegramApi": {
            "id": "AjoEOgPgF18DOng0",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Telegram Trigger').item.json.message.text }}",
          "options": {
            "systemMessage": "Você é a Jessy AI — assistente do StudyFlow, plataforma criada por Jessica Kaczmarkiewicz.\n\nSOBRE O PROJETO:\nStudyFlow é um assistente pessoal self-hosted que combina n8n, Telegram, IA, Trello e PostgreSQL para gerenciar estudos e automação. É também portfólio técnico interativo da Jessica.\n\nSOBRE A JESSICA:\nTransição estratégica para QA. Background: Customer Success, suporte técnico, automação. Stack: Docker, n8n, Cloudflare, PostgreSQL, Portainer. Aprende construindo. LinkedIn: linkedin.com/in/jessica-kaczmarkiewicz\n\nCOMPORTAMENTO:\n- Simpática, direta, descontraída mas profissional\n- 1 pergunta por mensagem\n- Respostas curtas, parágrafos de no máximo 2 linhas\n- Sem asteriscos ou markdown pesado\n- Não inventa informações além deste prompt\n- Contato/vagas: direciona para o LinkedIn\n- NAO oferece tutoria ou suporte educacional para outros usuários\n- Este é um sistema pessoal da Jessica, não um serviço público\n- Se fugir do escopo, redireciona com leveza\n\nFORMATO: resposta direta → complemento → 1 pergunta (quando necessário)"
          }
        },
        "id": "80becf38-43df-44a7-a298-9ae82c4c090d",
        "name": "AI Agent1",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          640,
          512
        ]
      },
      {
        "parameters": {
          "model": "groq/compound",
          "options": {}
        },
        "id": "1395fb3b-cfb6-427b-aecb-28f20d80f756",
        "name": "Groq Chat Model1",
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          640,
          736
        ],
        "credentials": {
          "groqApi": {
            "id": "54Cdwo71H2wPUrE4",
            "name": "Groq account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.message.chat.id }}",
          "tableName": "messages_public",
          "contextWindowLength": 10
        },
        "id": "e87540be-76f6-4acb-a5b0-b5982b6b556e",
        "name": "Postgres Chat Memory1",
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.4,
        "position": [
          768,
          736
        ],
        "credentials": {
          "postgres": {
            "id": "ylhUb8ju5VcdA9TV",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
          "text": "={{ $json.output }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "id": "cde17660-67ad-433e-9089-d82b50a54327",
        "name": "Send a text message1",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1168,
          512
        ],
        "webhookId": "64ac8b70-a2af-4dfa-80b8-741cbb1eeae0",
        "credentials": {
          "telegramApi": {
            "id": "AjoEOgPgF18DOng0",
            "name": "Telegram account"
          }
        }
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Groq Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Trello - Criar Lista": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Trello - Criar Card": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Trello - Mover Card": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent1": {
        "main": [
          [
            {
              "node": "Send a text message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Groq Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory1": {
        "ai_memory": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jessica Kaczmarkiewicz",
    "name": "Version f1672dae",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-03T13:25:24.152Z",
        "id": 103,
        "workflowId": "bg8uGb8VbgO9Wrdu",
        "versionId": "f1672dae-879d-46f0-96fb-200fda99c1aa",
        "event": "activated",
        "userId": "4e0433a0-4243-4ab2-a516-715df16458a0"
      }
    ]
  }
}